@font-face {
    font-family:'Unbounded', cursive;
    src:url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Unbounded:wght@400;700&display=swap');
    font-display: swap;
}

h1 {
    font-family: 'Unbounded';
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(26, 68, 30, 0.6);   
}

h3 {
    font-family: 'Unbounded';
    font-size: 15px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
}

h6 {
    font-size: 20px;
   
}

button {
    color: rgb(35, 55, 40);
    box-shadow: 1px 2px 2px rgb(22, 33, 24);
}
img {
    width: 200px;
    height: 200px;
    text-align: center;
}

.grid {
    display: grid;
    text-align: center;
    grid-template-columns:250px 250px 250px 250px;
    justify-content: center;
    grid-template-rows: auto;
    padding: 30px;
    grid-row-gap: 40px;
    background-color: rgb(129, 184, 137);
}

.content {
    background-color: rgb(238, 238, 212, 0.7);
    border-style: solid;
    border-color: rgba(32, 95, 55, 0.5);
    padding: 20px;
}
